.git
.gitignore
.env
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
*.egg-info/
.installed.cfg
*.egg
*.log
.DS_Store
Thumbs.db
node_modules/
*.md
!README.md
data/
db.sqlite3
staticfiles/