Django==6.0
asgiref
django-environ
django-js-asset
django-simple-history
django-storages
django-widget-tweaks
django-tinymce
whitenoise
gunicorn
psycopg[binary]
certifi
charset-normalizer
idna
packaging
Pillow
protobuf

python-http-client
requests
starkbank-ecdsa
stripe
urllib3
