
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-video-player/2.0.5/cld-video-player.min.css"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-video-player/2.0.5/cld-video-player.min.js"
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script defer>
  function renderVideoElement(videoPlayerElement) {
    const currentVideoId = videoPlayerElement.getAttribute("id");
    const videoPlayerId =
      `${currentVideoId}` +
      "-player-" +
      Math.random().toString(36).substr(2, 9);
    videoPlayerElement.setAttribute("id", videoPlayerId);
    const cloudName = videoPlayerElement.dataset.cloudName;
    const videoUrl = videoPlayerElement.dataset.videoUrl;
    if (cloudName && videoUrl) {
      const cld = cloudinary.videoPlayer(videoPlayerId, {
        cloudName: cloudName,
      });
      cld.source(videoUrl);
    }
  }

  function renderAllVideos() {
    const videoPlayerClassName = "stream-video-player";
    const videoPlayerElements =
      document.getElementsByClassName(videoPlayerClassName);
    console.log(videoPlayerElements);
    for (let el of videoPlayerElements) {
      console.log(el);
      renderVideoElement(el);
    }
  }

  document.addEventListener("DOMContentLoaded", renderAllVideos);
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggle = document.querySelector(".js-change-theme");
    const body = document.querySelector("body");
    const profile = document.getElementById("profile");

    if (toggle) {
      toggle.addEventListener("click", () => {
        if (body.classList.contains("text-gray-900")) {
          toggle.innerHTML = "☀️";
          body.classList.remove("text-gray-900");
          body.classList.add("text-gray-100");
          if (profile) {
            profile.classList.remove("bg-white");
            profile.classList.add("bg-gray-900");
          }
        } else {
          toggle.innerHTML = "🌙";
          body.classList.remove("text-gray-100");
          body.classList.add("text-gray-900");
          if (profile) {
            profile.classList.remove("bg-gray-900");
            profile.classList.add("bg-white");
          }
        }
      });
    }
  });
</script>
