{% extends "account/email/base_email.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h1>Password Reset Request</h1>

<p>Hello {{ user.username }},</p>

<p>We received a request to reset the password for your Stream English account. To reset your password, please click the button below:</p>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">
    Reset Your Password
</a>

<p>This password reset link will expire in 24 hours.</p>

<p>If the button above doesn't work, you can copy and paste this link into your browser:</p>
<p style="word-break: break-all;">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

<p>If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.</p>

<p>Best regards,<br>
The Stream English Team
www.streamenglish.co.uk</p>
{% endblock %}
