{% extends "account/email/base_email.html" %}

{% block title %}Welcome to Stream English{% endblock %}

{% block content %}
<h1>Welcome to Stream English!</h1>

<p>Hello {{ user.username }},</p>

<p>Thank you for verifying your email address. Your account is now fully activated!</p>

<p>You can now:</p>

<ul>
    <li>Explore our latest lessons:
        <p><a href="{{ protocol }}://{{ domain }}{% url 'courses:course_list' %}" class="button">
            Browse Lessons
        </a></p>
    </li>
    <li>You can login here: 
        <a href="{{ protocol }}://{{ domain }}{% url 'profiles:login' %}" style="color: #2563EB; text-decoration: underline; font-weight: 500;">Login</a>
    </li>
</ul>

<p>If you have any questions, feel free to reach out to our support team.</p>

<p>Best regards,<br>
The Stream English Team<br>
www.streamenglish.co.uk</p>
{% endblock %}
