{% extends 'base.html' %} {% block head_title %} About Stream English Platform
{% endblock head_title %} {% block content %}

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"
      >
        Helping Students <span class="font-extrabold">achieve Grade 9</span>
      </h2>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        Hi. My name is Mrs Robyn Wear and I am an English teacher and Examiner.
        My goal is to help you reach the very highest grades in your English
        qualifications.
      </p>
      <p class="mb-4 font-medium">My Qualifications:</p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        GCSEs – A* in both Language & Literature
      </p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        A Level – A* Language & Literature
      </p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        Degree – 1st in English & Creative Writing from the University of
        Warwick
      </p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        Masters – distinction in Education from the University of Warwick.
      </p>
      <iframe
        class="my-8"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Ww_XxRREs-U?si=j6GlG499F1mPra72"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Arrange tuition sessions
      </h2>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        My tution lessons are tailored to help you and i need to add some stuff
        here that you can add later because this is just placeholder text.
      </p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        Now you can enjoy more placeholder text here and maybe a link to
        something to book sessions
      </p>
      <p class="mb-4 font-normal text-gray-500 leading-loose">
        My tution lessons are tailored to help you and i need to add some stuff
        here that you can add later because this is just placeholder text. You
        can also talk about your shop and the ability to buy and download stuff
        here.
      </p>
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
      >
        Book HERE!
        <svg
          class="ml-2 -mr-1 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</section>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
<section class="bg-white dark:bg-gray-900">
  <div class="">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-4 mb-2">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Take A Look At My Courses
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        I mainly focus on the UK GCSEs and IGCSEs, but lots of the content is
        covered all over the world.
      </p>
    </div>

    <div hx-get="/courses/" hx-trigger="revealed"></div>
  </div>
</section>

{% endblock content %}
