{% extends 'base.html' %} 
{% block head_title %}About Stream English Platform{% endblock head_title %} 
{% block content %}

<section class="section bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
                Helping Students <span class="font-extrabold">achieve Grade 9</span>
            </h2>

            <div class="mb-4">
                <p class="mb-4">
                    Hi. My name is Mrs Robyn Wear and I am an English teacher and Examiner.
                    My goal is to help you reach the very highest grades in your English
                    qualifications.
                </p>

                <p class="mb-4">My Qualifications:</p>
                <ul class="list-disc pl-5 mb-4">
                    <li>GCSEs -- A* in both Language & Literature</li>
                    <li>A Level -- A* Language & Literature</li>
                    <li>Degree -- 1st in English & Creative Writing from the University of Warwick</li>
                    <li>Masters -- distinction in Education from the University of Warwick.</li>
                </ul>
            </div>

            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Arrange tuition sessions
            </h2>

            <div class="space-y-4">
                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">My tution lessons are tailored to help you and i need to add some stuff
                here that you can add later because this is just placeholder text.</p>

                <p>Now you can enjoy more placeholder text here and maybe a link to
                something to book sessions</p>

                <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">My tution lessons are tailored to help you and i need to add some stuff
                here that you can add later because this is just placeholder text. You
                can also talk about your shop and the ability to buy and download stuff
                here.</p>

                <button 
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                <a href="{% url 'courses:booking_form' %}" class="flex items-center">
                    Book HERE!
                    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </button>
            </div>
        </div>
    </div>
</section>

<!-- Booking Modal -->
<div id="booking-modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
</div>



<section class="section bg-slate-50 dark:bg-gray-800 py-12">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-extrabold text-center mb-8 text-gray-900 dark:text-white">
            Take A Look At My Latest Courses
        </h2>
        <p class="font-light text-gray-500 sm:text-xl text-center">I mainly focus on the UK GCSEs and IGCSEs, but lots of the content is covered all over the world.</p>
        <div id="course-list">
            {% include 'courses/snippets/list-display.html' with queryset=object_list %}
        </div>

        <div class="text-center mt-8">
            <a href="{% url 'courses:course_list' %}" 
               class="inline-flex items-center px-5 py-3 text-base font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700">
                View All Courses
            </a>
        </div>
    </div>
</section>

{% endblock content %}