{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}Stream English{% endblock head_title %}</title>
    {% tailwind_css %}
  </head>
  <body class="min-h-screen flex flex-col">
    {% include 'base/navbar.html' %}

    <main class="flex-grow" role="main">
      {% block content %}
      <h1 class="text-3xl font-bold underline">Hello world from base!</h1>
      {% endblock content %}
    </main>

    {% include 'base/footer.html' %} {% include 'base/js.html' %}
  </body>
</html>
