{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <style>
        .transition-fade {
            opacity: 1;
            transition: opacity 200ms ease-out;
        }
        .transition-fade.htmx-swapping {
            opacity: 0;
        }
    </style>
</head>
<body hx-boost="true">
    {% include 'base/navbar.html' %}
    
    <main id="content" 
          class="flex-grow transition-fade" 
          hx-swap="innerHTML show:window:top transition:true"
          hx-push-url="true">
        {% block content %}{% endblock %}
    </main>

    {% include 'base/footer.html' %}
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
