<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream English GCSE</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/single.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="Icon" type="images/png" href="favicon.ico" />
  </head>
  <body>
    <div class="header">
      <!-- Header menu starts here -->
      <div class="header_left">
        <i id="menu" class="material-icons">menu</i>
        <img
          class="logo"
          src="images/streamenglogo.jpg"
          alt="stream english logo"
        />
      </div>
      <!-- Header menu ends here -->

      <!-- Header search starts here -->
      <div class="header__search">
        <form action="">
          <input type="text" placeholder="Search" />
          <button type="submit"><i class="material-icons">search</i></button>
          <!-- Added type="submit" -->
        </form>
      </div>
      <!-- Header search ends here -->

      <!-- HeaderIcons starts here -->
      <div class="header__icons">
        <i class="material-icons display-this">search</i>
        <i class="material-icons display-this">videocam</i>
        <i class="material-icons display-this">notifications</i>
        <i class="material-icons display-this">account_circle</i>
      </div>
    </div>
    <!-- HeaderIcons ends here -->

    <!--main body of video page starts here-->
    <main class="single_pages">
      <section class="video_items flex">
        <div class="left">
          <div class="left_content">
            <video controls>
              <source
                src="video/intro.mp4"
                type="video/mp4"
                poster="images/1.jpg"
              />
            </video>
            <div class="tag">
              <label for="" class="tags">#English #GCSE #Tutoring</label>
              <p>Stream English Language and Literature</p>
            </div>

            <div class="view flex2 border_bottom">
              <div class="view-text">
                <span>12386 Views</span>
              </div>
            </div>

            <div class="flex">
              <div class="icon">
                <i class="fa fa-thumbs-up"></i>
                <label for=""><span id="like-count"></span></label>
              </div>

              <div class="icon">
                <a href=""><i class="fa fa-share"></i></a>
                <label for="">Share</label>
              </div>

              <div class="icon">
                <a href="">
                  <i class="fa fa-bookmark"></i>
                  <label for="">Save</label>
                </a>
              </div>

              <div class="icon">
                <a href=""><i class="fa fa-pen"></i></a>
                <label for="">Edit</label>
              </div>

              <div class="icon">
                <a href=""><i class="fa fa-ellipsis"></i></a>
              </div>
            </div>

            <div class="heading">
              <h4>
                Stream English<small><i class="fa fa-check-circle"></i></small>
              </h4>
              <span id="count"></span> <span>Subscribers</span>

              <h5>video.description</h5>
              <span> <i class="fa fa-caret-down"></i> show more</span>
            </div>
            <div>
              <a href="" class="subscribe-btn">Subscribe</a>
            </div>
            <hr />

            <div class="heading">
              <h4>
                2 comments <small><i class="fa fa-check-circle"></i></small>
              </h4>
              <span id="count"></span> <span>Subscribers</span>

              <h5>video.description</h5>
              <span> <i class="fa fa-caret-down"></i> show more</span>
            </div>
            <div>
              <a href="" class="subscribe-btn">Subscribe</a>
            </div>

            <div class="comment">
              <div class="comment-heading flex">
                <h4><b>6 Comments</b></h4>
                <h4><i class="fa fa-list-ul"></i> <label>Sort By</label></h4>
              </div>
            </div>

            <div class="details comment_self flex">
              <div class="img">
                <img src="images/rw-face3.jpg" alt="" />
              </div>

              <input
                type="text"
                placeholder="Add a comment..."
                id="comment"
                name="comment"
              />
              <i class="material-icons">send</i>
            </div>

            <a href="">*Login To Comment</a>

            <div class="heading">
              <h4>Jenny Doe <span>17 months ago</span></h4>
              <p>This is the comment</p>
              <div class="comments-like flex">
                <div class="icon">
                  <i class="fa fa-thumbs-up"></i>
                  <label for="">Dislike</label>
                </div>
                <div class="icon">
                  <i class="fa fa-thumbs-up"></i>
                  <label for="">Reply</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right_content">
            <button class="chat">Show Chat Reply</button>
            <div class="tags">
              <label for="" class="tags-bg">All</label>
              <label for="" class="tags-bg">Web Design</label>
              <label for="" class="tags-bg">Frontend</label>
              <label for="" class="tags-bg">HTML</label>
            </div>
            <div class="video_items vide_sidebar flex">
              <a href="">
                <img src="images/1.jpg" alt="" />
              </a>
              <div class="details">
                <p><b>Stream English Tutoring</b></p>
                <span>Stream English<i class="fa fa-check-circle"></i></span>
                <span><small>203k Views . 1 week Ago</small></span>
              </div>
            </div>
            <div class="video_items vide_sidebar flex">
              <a href="">
                <img src="images/1.jpg" alt="" />
              </a>
              <div class="details">
                <p><b>Stream English Tutoring</b></p>
                <span>Stream English<i class="fa fa-check-circle"></i></span>
                <span><small>203k Views . 1 week Ago</small></span>
              </div>
            </div>
            <div class="video_items vide_sidebar flex">
              <a href="">
                <img src="images/1.jpg" alt="" />
              </a>
              <div class="details">
                <p><b>Stream English Tutoring</b></p>
                <span>Stream English<i class="fa fa-check-circle"></i></span>
                <span><small>203k Views . 1 week Ago</small></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--main body of video page ends here-->
  </body>
</html>
